<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="content">
		<f:alias map="{event: index.originalObject}">
			<div class="modal-header">
				<h2 class="modal-title" id="calModalLabel">
					{index.originalObject.title}
				</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="{f:translate(key: 'close', extensionName: 'MdFullcalendar')}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3 class="state-{index.state}">
					<f:if condition="{index.state}=='canceled'">
						<f:then>
							<f:translate key="canceled" extensionName="Calendarize" />
						</f:then>
						<f:else>
							{index.startDate -> f:format.date(format: settings.dateFormat)}
							<f:if condition="{index.allDay}">
								<f:then></f:then>
								<f:else>
									<f:format.date format="{settings.timeFormat}">{index.startDateComplete}</f:format.date>
								</f:else>
							</f:if>

							<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
								<f:then></f:then>
								<f:else>
									- {index.endDate -> f:format.date(format: settings.dateFormat)}
								</f:else>
							</f:if>

							<f:if condition="{index.allDay}">
								<f:then>
									<f:translate key="all_day" extensionName="Calendarize" />
								</f:then>
								<f:else>
									<f:if condition="{index.endTime}">
										<f:if condition="{index.endTime}!=86399">
											<f:then>
												<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
													-
												</f:if>
												<f:format.date format="{settings.timeFormat}">{index.endDateComplete}</f:format.date>
											</f:then>
											<f:else>
												<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
													-
												</f:if>
												<f:translate key="open_end" extensionName="Calendarize" />
											</f:else>
										</f:if>
									</f:if>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</h3>

				<f:if condition="{event.abstract}">
					<div class="abstract">
						{event.abstract}
					</div>
				</f:if>

				<div class="text">
					<f:format.html>{event.description}</f:format.html>
				</div>

				<dl class="dl-horizontal meta">
					<f:if condition="{event.location}">
						<dt><f:translate key="tx_calendarize_domain_model_event.location" extensionName="Calendarize" />:</dt>
						<dd><f:link.typolink parameter="{event.locationLink}">{event.location}</f:link.typolink></dd>
					</f:if>
					<f:if condition="{event.organizer}">
						<dt><f:translate key="tx_calendarize_domain_model_event.organizer" extensionName="Calendarize" />:</dt>
						<dd><f:link.typolink parameter="{event.organizerLink}">{event.organizer}</f:link.typolink></dd>
					</f:if>
				</dl>

				<f:if condition="{event.images}">
					<div class="images">
						<f:for each="{event.images}" as="image" iteration="i">
							<f:image src="{image.uid}" treatIdAsReference="1" alt="" maxWidth="300" class="img-rounded"/>
						</f:for>
					</div>
				</f:if>

				<f:if condition="{event.downloads}">
					<div class="downloads">
						<f:for each="{event.downloads}" as="download" iteration="i">
							<a href="{download.originalResource.publicUrl}">{download.originalResource.publicUrl}</a>
						</f:for>
					</div>
				</f:if>

				<f:if condition="{event.bookable}">
					<c:link.booking index="{index}" class="btn btn-default btn-primary">
						<f:translate key="booking"/>
						<span class="glyphicon glyphicon-arrow-right"></span>
					</c:link.booking>
				</f:if>

				<f:if condition="{settings.showIcsIcalButton}">
					<f:link.page pageUid="{settings.pid.defaultDetailPid}"
								 additionalParams="{tx_calendarize_calendar: {action: 'detail', format: 'ics', index: '{index}'}}"
								 additionalAttributes="{format:'ics'}"
								 class="btn btn-primary">
						{f:translate(key: 'ics_ical', extensionName: 'MdFullcalendar')}
					</f:link.page>
				</f:if>
			</div>
		</f:alias>
	</f:section>
</html>