<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <div class="row">
            <!-- Calendar -->
            <div id="calendar{contentObject.uid}" class="col-md-{f:if(condition: '{categories}', then: '9', else: '12')}"></div>

            <f:if condition="{categories}">
                <div id="categoryFilter{contentObject.uid}" class="category-filter col-md-3 mt-5">
                    <p>{f:translate(key: 'filter_calendars', extensionName: 'MdFullcalendar')}</p>
                    <f:for each="{categories}" as="category">
                        <div class="form-check category{category.uid} border border-white rounded">
                            <div class="p-1">
                                <input type="checkbox" value="category{category.uid}" name="categoryFilter{contentObject.uid}" class="form-check-input" id="cf{contentObject.uid}_{category.uid}">
                                <label class="form-check-label" for="cf{contentObject.uid}_{category.uid}">{category.title}</label>
                            </div>
                        </div>
                    </f:for>
                </div>
            </f:if>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="calModal{contentObject.uid}" tabindex="-1" role="dialog" aria-labelledby="calModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-content-inner"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{f:translate(key: 'close', extensionName: 'MdFullcalendar')}</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl<f:format.raw>{contentObject.uid}</f:format.raw> = document.getElementById('calendar<f:format.raw>{contentObject.uid}</f:format.raw>'),
                    calModal = $('#calModal<f:format.raw>{contentObject.uid}</f:format.raw>'),
                    filtersActive = $('#categoryFilter<f:format.raw>{contentObject.uid}</f:format.raw>').length;

                var calendar<f:format.raw>{contentObject.uid}</f:format.raw> = new FullCalendar.Calendar(calendarEl<f:format.raw>{contentObject.uid}</f:format.raw>, {
                    firstDay: 1,
                    <f:format.raw>{f:if(condition: '{settings.language}', then: 'locale: \'{settings.language}\',')}</f:format.raw>
                    plugins: ['dayGrid', 'timeGrid'],
                    defaultView: '<f:format.raw>{settings.view}</f:format.raw>',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    //editable: true, // this needs 'interaction' plugin
                    eventLimit: true, // when too many events in a day, show the popover
                    navLinks: true,
                    fixedWeekCount: false,
                    //showNonCurrentDates: false, // In month view, whether dates in the previous or next month should be rendered at all.
                    events: {
                        url: '/index.php?id=<f:format.raw>{contentObject.pid}</f:format.raw>&type=1573738558',
                        failure: function(request, status, error) {
                            alert('There was an error while fetching events!');
                        },
                    },
                    eventRender: function(item) {
                        // add title attribute
                        $(item.el).prop('title', item.event.extendedProps.abstract);

                        // FILTER
                        if(filtersActive) {
                            var selectedCategories = $('#categoryFilter<f:format.raw>{contentObject.uid}</f:format.raw> input:checked').map(function() {
                                return $(this).val();
                            }).get();

                            if (selectedCategories.length > 0) {
                                // initially hide all elements
                                $(item.el).addClass('d-none');

                                selectedCategories.forEach(function(selectedVal) {
                                    if ( $(item.el).hasClass(selectedVal) ) {
                                        $(item.el).removeClass('d-none');
                                    }
                                });
                            }
                        }


                        if (typeof $.fn.modal === 'function' && $.fn.modal !== null) {
                            // add click event for modal
                            $(item.el).on('click', function(e) {
                                e.preventDefault();
                                $(document.body).css({'cursor' : 'wait'});

                                $.ajax({
                                    url: item.event.extendedProps.uriAjax,
                                    success: function(result){
                                        calModal.find('.modal-content-inner').html(result);
                                        calModal.modal('show');
                                        $(document.body).css({'cursor' : ''});
                                    }
                                });
                            });
                        }
                    },
                });

                // render calendar
                calendar<f:format.raw>{contentObject.uid}</f:format.raw>.render();

                // category filter
                $('#categoryFilter<f:format.raw>{contentObject.uid}</f:format.raw> [type=checkbox]').on('change', function() {
                    var selectedCategories = $('#categoryFilter<f:format.raw>{contentObject.uid}</f:format.raw> input:checked').map(function() {
                        return $(this).val();
                    }).get();

                    if (selectedCategories.length > 0) {
                        // initially hide all elements
                        $('#calendar<f:format.raw>{contentObject.uid}</f:format.raw> .cal-item').addClass('d-none');

                        selectedCategories.forEach(function(selectedVal) {
                            $('#calendar<f:format.raw>{contentObject.uid}</f:format.raw> .' + selectedVal).removeClass('d-none');
                        });
                    } else {
                        $('#calendar<f:format.raw>{contentObject.uid}</f:format.raw> .cal-item').removeClass('d-none');
                    }
                });

            });
        </script>
    </f:section>
</html>